<h1>Add A Car</h1>

<%= simple_form_for(@car) do |f| %>
  <%= f.association :manufacturer %>
  <br>
  <%= f.input :color %>
  <br>
  <%= f.input :year, collection: (1920..(Time.now.year)).sort.reverse  %>
  <br>
  <%= f.input :mileage %>
  <br>
  <%= f.input :description %>
  <br>
  <%= f.submit %>
  <br>
<% end %>
