<h1>Add A Car</h1>

<%= simple_form_for(@car) do |f| %>
  <%= f.association :manufacturer %>
  <%= f.input :color %>
  <%= f.input :year, collection: 1920..Time.now.year %>
  <%= f.input :mileage %>
  <%= f.submit %>

<% end %>
